* {
    font-family: Raleway, sans-serif;
    margin: 0   ;
}

a {
    cursor: pointer;
}

nav {
    display: flex;
    width: 767px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
background: #FFF;
box-shadow: 0px 40px 70px 0px rgba(18, 32, 16, 0.05);
backdrop-filter: blur(20px);
position: fixed;
margin: 20px;
outline: 0.5px solid rgb(218, 218, 218);
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav-wrapper-outer {
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    gap: 20px;  
}


button, .primary-button {
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    border: 2px solid #000;
    transition: all 0.3s ease 0s;
    background: #98EC44;
    width: 100%;
    box-shadow: 4px 4px 0px 0px #000;
}

.secondary-button {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 2px solid #000;
    transition: all 0.3s ease 0s;
    background: white;
    width: 100%;
    box-shadow: 4px 4px 0px 0px #000;
}



button:hover, .primary-button:hover, .secondary-button:hover {
    box-shadow: none;
}

.button-wrapper {
    width: 150px;   
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    gap: 20px;
}

.section-hero {
    background-image: url(brand-assets/background.svg);
    object-fit: cover;
    gap: 60px;
    padding: 280px 50px!important;
}

.button-wrapper-hero {
    display: flex;
    width: 30%;
    gap: 20px;
}

.green-text {
    color: #83CA3D;
  }

.hero {
    font-size: 96px;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    line-height: 90.24px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
}

.heading {
    font-size: 48px;
    font-family: "Raleway";
    font-weight: 800;
    color: rgba(18, 32, 16, 1);
}

    .subtitle {
    font-size: 29.67px;
    font-family: "Raleway";
    font-weight: 800;
    color: rgba(141, 205, 77, 1);
    font-feature-settings: 'liga' off;
}

.image-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.image-text {
    display: flex;
    flex-direction: column;
}

.column-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial-wrapper {
    display: flex;
    gap: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E3FACD;
    padding: 60px;
    gap: 20px;
    min-height: 150px;
    justify-content: center;
    width: calc(100% / 3);
}

.test-quote {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.author {
    font-size: 16px;
}

